
MifareSharp/MifareSharp/bin/

MifareSharp/MifareSharp/obj/

MifareSharp/MifareModules/obj/

\.vs/

MifareSharp/CryptoAnalysis/obj/

MifareSharp/CryptoAnalysis/bin/

MifareSharp/MifareModules/bin/Debug/

MifareSharp/MifareModules/bin/
